@mixin col_dark {
    // DARK THEME
    // Generl utility colours
    --c-transparent:    hsla(0, 0%, 100%, 0);       // zero alpha!
    --c-white:          hsl(0, 0%, 12%);            //
    --c-light:          hsl(0, 0%, 31%);            //
    --c-black:          hsl(0, 1%, 62%);            //

    // Site colours
    --c-sitebg:         rgb(36, 36, 36);            //
    --c-primary:        hsl(209, 69%, 40%); //
    --c-secondary:      hsl(59, 100%, 37%);          //
    --c-bg:             hsl(0, 0%, 15%);            //
    --c-bg2:            hsl(49, 8%, 28%);           //
    --c-alert:          hsl(2, 100%, 14%);          //

    // Logo colours
    --c-blob1:            rgb(255, 255, 255);         //
    --c-blob2:            hsl(59, 100%, 37%);        //
    --c-logo:            #000;         //

    // Animation colours
    --hero-ani-1:       var(--c-primary);             //
    --hero-ani-2:       rgba(185, 151, 236, 1);            //
    --hero-ani-3:       hsl(180, 47%, 50%);       //
    --hero-ani-4:       hsl(347, 38%, 34%);         //
}