
// Setup Sass Variables:
$transparent: var(--c-transparent);
$c-white: var(--c-white);
$c-light: var(--c-light);
$c-black: var(--c-black);

$hero-c1: var(--hero-ani-1);
$hero-c2: var(--hero-ani-2);
$hero-c3: var(--hero-ani-3);
$hero-c4: var(--hero-ani-4);

$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-bg: var(--c-bg);
$c-bg2: var(--c-bg2);
$alert: var(--c-alert);

// Define actual colours as CSS variables:
:root {
    // Generl utility colours
    --c-transparent:    hsla(0, 0%, 100%, 0);   // zero alpha!
    --c-white:          hsl(0, 0%, 100%);       // #fff
    --c-light:          hsl(0, 0%, 73%);        // #bbb
    --c-black:          hsl(222, 53%, 21%);     // space-cadet

    // Site colours
    --c-sitebg:         white;     
    --c-primary:        hsl(162, 46%, 48%);     // mint
    --c-secondary:      hsl(46, 100%, 66%);     // mustard
    --c-bg:             hsl(0, 0%, 100%);       // #fff
    --c-bg2:            hsl(50, 70%, 88%);      // lemon-meringue
    --c-alert:          hsl(2, 70%, 53%);       // cg-red

    // Logo colours
    --c-blob1:            hsl(0, 0%, 100%);     // White
    --c-blob2:            hsl(46, 100%, 66%);   // mustard
    
    // Animation colours
    --hero-ani-1:       var(--c-primary);         // Mint
    --hero-ani-2:       hsl(265, 68%, 84%);     // Mauve
    --hero-ani-3:       hsl(217, 65%, 59%);     // French-sky-blue
    --hero-ani-4:       hsl(347, 38%, 64%);     // Puce

        // // DARK THEME
        // // Generl utility colours
        // --c-transparent:    hsla(0, 0%, 100%, 0);   // zero alpha!
        // --c-white:          hsl(0, 0%, 12%);       // #fff
        // --c-light:          hsl(0, 0%, 31%);        // #bbb
        // --c-black:          hsl(0, 0%, 66%);     // space-cadet

        // // Site colours
        // --c-sitebg:         rgb(36, 36, 36);     
        // --c-primary:        hsl(162, 100%, 26%);     // mint
        // --c-secondary:      hsl(29, 100%, 19%);     // mustard
        // --c-bg:             hsl(0, 0%, 15%);       // #fff
        // --c-bg2:            hsl(49, 8%, 28%);      // lemon-meringue
        // --c-alert:          hsl(2, 100%, 14%);       // cg-red

        // // Logo colours
        // --c-blob1:            var(--hero-ani-2);       // White
        // --c-blob2:            var(--hero-ani-3);     // mustard
        
        // // Animation colours
        // --hero-ani-1:       var(--c-primary);     // Mint
        // --hero-ani-2:       hsl(265, 68%, 34%);     // Mauve
        // --hero-ani-3:       hsl(217, 65%, 29%);     // French-sky-blue
        // --hero-ani-4:       hsl(347, 38%, 34%);     // Puce
}