// Option 1
$space-cadet: rgba(25, 42, 81, 1);
$mimi-pink: rgba(255, 220, 232, 1);
$cg-red: rgba(219, 58, 52, 1);
$mustard: rgba(255, 215, 81, 1);
$united-nations-blue: rgba(83, 134, 218, 1);

// Option 2
$lemon-meringue: rgba(246, 239, 203, 1);
$puce: rgba(198, 128, 143, 1);
$mauve: rgba(209, 186, 242, 1);
$mint: rgba(66, 179, 145, 1);
$lapis-lazuli: rgba(28, 93, 153, 1);

// Option 3
$french-sky-blue: rgba(106, 172, 240, 1);
$pink: rgba(255, 194, 206, 1);
$emerald: rgba(69, 203, 133, 1);
$cadet-blue-crayola: rgba(147, 163, 188, 1);
$cerulean-blue: rgba(44, 80, 192, 1);

// Option 4
$lapis-lazuli: rgba(28, 93, 153, 1);
$lavender-floral: rgba(185, 151, 236, 1);
$cameo-pink: rgba(222, 181, 190, 1);
$maize-crayola: rgba(226, 192, 68, 1);
$middle-blue-green: rgba(125, 207, 182, 1);

// Option 5
$cerulean-blue: rgba(64, 89, 173, 1);
$cerulean-frost: rgba(107, 154, 196, 1);
$middle-blue-green: rgba(151, 216, 196, 1);
$cultured: rgba(239, 242, 241, 1);
$maximum-yellow-red: rgba(244, 185, 66, 1);

// Option 6
$misty-rose: rgba(255, 223, 213, 1);
$international-orange-golden-gate-bridge: rgba(191, 59, 32, 1);
$sea-green-crayola: rgba(8, 239, 178, 1);
$bright-yellow-crayola: rgba(255, 170, 49, 1);
$aero: rgba(127, 176, 219, 1);