
// Setup Sass Variables:
$transparent: var(--c-transparent);
$c-white: var(--c-white);
$c-light: var(--c-light);
$c-black: var(--c-black);

$hero-c1: var(--hero-ani-1);
$hero-c2: var(--hero-ani-2);
$hero-c3: var(--hero-ani-3);
$hero-c4: var(--hero-ani-4);

$c-logo: var(--c-logo);

$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-bg: var(--c-bg);
$c-bg2: var(--c-bg2);
$c-alert: var(--c-alert);

@import 'col_light';
@import 'col_dark';

// Define actual colours as CSS variables:
body {
    @include col_light;
}

body.dark-theme {
    @include col_dark;
}

@media (prefers-color-scheme: dark) {
    .body {
        @include col_dark;

        &.light-theme {
            @include col_light;
        }
    }

    
}