@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Laila:wght@300;600');
@import url('https://fonts.googleapis.com/css2?family=family=Lato:wght@300');
// @import url('https://fonts.googleapis.com/css2?family=Manjari');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300');
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700');

@import 'colours';

$f-header: 'Laila', serif;
$f-text: 'Lato', sans-serif;
$f-accent: 'Thasadith', sans-serif;

p {
    font-family: $f-text;
    color: $c-black;
}

h1, h2 {
    font-family: $f-header;
    font-weight: 600;
    color: $c-1;
}

h3, h4, h5, h6 {
    font-family: $f-header;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem
}

h6 {
    font-size: 1rem;
}

.accent {
    font-family: $f-accent;
    font-weight: 400;
    font-size: 1.4rem;
}