$footer-text-color: $c-white;

footer, .footer {
    display: flex;
    background: $c-primary;
    margin-top: auto;
    color: $footer-text-color;
    font-family: $f-header;
    font-size: 1rem;

    position: fixed;
    bottom: 0;
    width: 100%;

    &__spacer {
        margin-top:3rem;
    }

    &__sitename {
        margin: auto 1rem auto auto;
    }

    &__social {
        display: flex;
        margin: auto;
        padding: 0.5rem;

        a {
            display: inline-flex;
            text-decoration: none;
            margin: 0 2rem;
        }
        
        &--icon {
            font-size: 1.3rem;
            color: $footer-text-color;
        }

        &--text {
            padding: 0 0.5rem;

            &svg {
                fill: $footer-text-color;
            }
        }
    }
}

@keyframes footerfade {
    from {background: $c-primary;}
    to   {background: $c-light;}
}