$title-opacity--start: 0.9;
$title-opacity--end: 0;
$title-opacity-time: 0.5s;

@mixin title-out {
    animation-name: title-out;
    animation-duration: $title-opacity-time;
    animation-fill-mode: forwards;
}

@mixin title-in {
    animation-name: title-in;
    animation-duration: $title-opacity-time;
    animation-fill-mode: forwards;
}
                
.gallery {

    &__selector {
        display: flex;
        font-family: $f-header;

        ul {
            font-size: 1.2rem;
            list-style-type: none;
            display: flex;
            // margin: 0 0 0 auto;
            padding: 0;

            @media screen and (max-width: $mobilebreak) {
                font-size: 1rem;
                flex-wrap: wrap;
            }
        }

        li:not(:last-child):not(:first-child)::after {
            content: '|';
            padding: 0 1rem;
        }

        a {
            text-decoration:none;
            font-family: $f-header;
            
            &:hover {
                color: $c-secondary;
            }
        }
    }

    &__container {
        @extend .container;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        position: relative;

        @media screen and (min-width: $mobilebreak) {
            max-width: 15rem;
            max-height: 15rem;
        }

        &__image {
            max-width: 15rem;
            max-height: 15rem;
            min-height: 15rem;
            min-width: 15rem;
            object-fit: cover;
            
            &:hover + .gallery__item__title {
                @include title-in;
            }

            & + .gallery__item__title {
                @include title-out;
            }
        }

        &__title {
            position: absolute;
            background: $c-white;
            color: $c-black;
            padding: 0.25rem 0.5rem;
            bottom: 0.5rem;
            left: 0.5rem;
            font-size: 1rem;
            opacity: $title-opacity--start;
            overflow: hidden;

            &:hover {
                @include title-in;
            }
        }
    }

    &__series {
        margin-top: 2rem;
        margin-bottom: 2rem;
        // background: $c-light;
        padding: 2rem 0 3rem 0;

        a {text-decoration:none;}

        &__container {
            @extend .container;
            display: flex;
        }

        &__item {
            display: flex;
            position: relative;
            align-items: flex-start;
            // flex-direction: column;

            @media screen and (max-width: $mobilebreak) {
                flex-wrap: wrap;
            }

            &>*{
                padding: 0 1rem;
            }
        }

        &__title {
            font-size: 4rem;
            // padding: 0 0 1rem 0;
        }

        &__text {
            margin-top: 1rem;
            @media screen and (min-width: $mobilebreak) {
                // width: 60%;
            }
        }

        &__image {
            max-height: 21rem;
            object-fit: contain;
            // padding: 1rem;
            // margin-bottom: auto;
            // margin-left: -1rem;
            // margin-right: -1rem;

            &container {
                display: flex;
                flex-direction: row;
                height: 100%;
                min-height: 100%;
                width: 30%;
                min-width: 30%;
            }

            &--sub {
                height: 9rem;
                width: 9rem;
                object-fit: cover;
                padding: 1rem;

                &container {
                    display:flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@keyframes title-out {
    from {opacity: $title-opacity--start;}
    to {opacity: $title-opacity--end;}
}
@-webkit-keyframes title-out {
    from {opacity: $title-opacity--start;}
    to {opacity: $title-opacity--end;}
}

@keyframes title-in {
    from {opacity: $title-opacity--end;}
    to {opacity: $title-opacity--start;}
}
@-webkit-keyframes title-in {
    from {opacity: $title-opacity--end;}
    to {opacity: $title-opacity--start;}
}