$title-opacity--start: 0.9;
$title-opacity--end: 0;
$title-opacity-time: 0.5s;

@mixin title-out {
    animation-name: title-out;
    animation-duration: $title-opacity-time;
    animation-fill-mode: forwards;
}

@mixin title-in {
    animation-name: title-in;
    animation-duration: $title-opacity-time;
    animation-fill-mode: forwards;
}
                
.gallery {
    &__selector {
        display: flex;
        font-family: $f-header;

        ul {
            font-size: 1.2rem;
            list-style-type: none;
            display: flex;
            // margin: 0 0 0 auto;
            padding: 0;

            @media screen and (max-width: $mobilebreak) {
                font-size: 1rem;
                flex-wrap: wrap;
            }
        }

        li:not(:last-child):not(:first-child)::after {
            content: '|';
            padding: 0 1rem;
        }

        a {
            text-decoration:none;
            font-family: $f-header;
            
            &:hover {
                color: $c-secondary;
            }
        }
    }

    &__container {
        @extend .container;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        position: relative;
        width: 100%;
        margin: 1rem;

        @media screen and (min-width: $mobilebreak) {
            margin: 2rem;
            max-width: 15rem;
            max-height: 15rem;
        }

        &__image {
            width: 100%;
            object-fit: cover;
            max-height: 70vh;

            @media screen and (min-width: $mobilebreak) {
                max-width: 15rem;
                max-height: 15rem;
                min-height: 15rem;
                min-width: 15rem;

                &:hover + .gallery__item__title {
                    @include title-in;
                }
    
                & + .gallery__item__title {
                    @include title-out;
                }
            }
            
            
        }

        &__title {
            position: absolute;
            background: $c-white;
            color: $c-black;
            padding: 0.25rem 0.5rem;
            bottom: 0.5rem;
            left: 0.5rem;
            font-size: 1rem;
            opacity: $title-opacity--start;
            overflow: hidden;

            &:hover {
                @include title-in;
            }
        }
    }
}

@keyframes title-out {
    from {opacity: $title-opacity--start;}
    to {opacity: $title-opacity--end;}
}
@-webkit-keyframes title-out {
    from {opacity: $title-opacity--start;}
    to {opacity: $title-opacity--end;}
}

@keyframes title-in {
    from {opacity: $title-opacity--end;}
    to {opacity: $title-opacity--start;}
}
@-webkit-keyframes title-in {
    from {opacity: $title-opacity--end;}
    to {opacity: $title-opacity--start;}
}