@import 'util';
@import 'fonts';

@import 'header';
@import 'hero';
@import 'footer';

@import 'gallery';
@import 'series-list';
@import 'series';
@import 'post';

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    // @media only screen and (max-width: $pagewidth) {
    //     font-size: 24px;
    // }
}

body {
    display: flex;
    flex-direction: column;
    background: var(--c-sitebg);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    max-width: $pagewidth;
    margin:0 auto 0 auto;
    
    @media only screen and (max-width: $pagewidth) {
        margin: 0 1rem;
    }

    // background: white;
}

.linkdiv:hover {
    cursor: pointer;
}

// fade out header / footer globally
.primaryfade {
    animation: primaryfade 10s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes primaryfade {
    0% {background: $c-primary;}
    100% {background: $c-light;}
}