@import 'util';
@import 'fonts';

@import 'header';
@import 'hero';
@import 'footer';

@import 'gallery';
@import 'series-list';
@import 'series';
@import 'writing-list';
@import 'post';

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    // @media only screen and (max-width: $pagewidth) {
    //     font-size: 24px;
    // }
}

body {
    display: flex;
    flex-direction: column;
    background: var(--c-sitebg);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    max-width: $pagewidth;
    margin:0 auto 0 auto;
    
    @media only screen and (max-width: $pagewidth) {
        margin: 0 1rem;
    }

    // background: white;
}

.linkdiv:hover {
    cursor: pointer;
}

// fade out header / footer globally
.primaryfade {
    animation: primaryfade 10s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes primaryfade {
    0% {background: $c-primary;}
    100% {background: $c-light;}
}

.btn-dark-toggle {
    background: transparent;
    border: 2px solid var(--c-black);
    color: var(--c-black);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: auto 0 3rem 1rem;
    
    width: 8rem;
    // position:absolute;
    // left: 1rem;
    // bottom: 3rem;

    animation:semi-opacity-fade 5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;

    &:hover {
        animation:semi-opacity-brighten 2s;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
    }
}

@keyframes semi-opacity-fade {
    to {opacity: 20%; border-color: var(--c-light)}
}
@keyframes semi-opacity-brighten {
    to {opacity: 100%;}
}