@import 'util';
@import 'fonts';

@import 'header';
@import 'hero';
@import 'footer';

@import 'gallery';
@import 'series-list';
@import 'series';
@import 'writing-list';
@import 'post';

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    // @media only screen and (max-width: $pagewidth) {
    //     font-size: 24px;
    // }
}

body {
    display: flex;
    flex-direction: column;
    background: var(--c-sitebg);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    max-width: $pagewidth;
    margin:0 auto 0 auto;
    
    @media only screen and (max-width: $pagewidth) {
        margin: 0 1rem;
    }

    // background: white;
}

.linkdiv:hover {
    cursor: pointer;
}

// fade out header / footer globally
.primaryfade {
    animation: primaryfade 10s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes primaryfade {
    0% {background: $c-primary;}
    100% {background: $c-light;}
}

.home {
    @extend .container;
    display: flex;
    flex-direction: column;

    &__headline {
        font-family: $f-accent;
        font-weight: 700;
        font-size: 2rem;
        color: $c-primary;
        line-height: 1.75rem;
        position: relative;
        margin: auto;
    }

    &__portfolio {
        display: flex;
        font-family: $f-accent;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--hero-ani-3);
        flex-wrap: wrap;
        margin-top: 1rem;
    
        @media only screen and (min-width: $pagewidth) {
            font-size: 3rem;
            flex-wrap: nowrap;
        }

        &__title {
            min-width: 15rem;
            margin-right: 2rem;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            font-weight: 300;
            padding: 0;
    
            li {
                    font-size: 1rem;
                }
        }

        &__container {
            margin: 5rem 0 3rem 0;
        }
    }
}






.wordCarousel {
    div {
        overflow: hidden;
        position: absolute;
        height: 2.2rem;
        top: 0;
        left: 5.5rem;
        z-index: -1;

        ul {
            padding: 0;
        }
        li {
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
            text-align: left;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}