nav, .nav {
    display: flex;
    margin-left: auto;

    a {
        text-decoration: none;
        color: $c-white;
        padding: 1rem 1rem;
        margin: auto 0;

        &:first-of-type {
            margin-left: auto;
        }

        &:hover {
            color: $c-accent2;
        }
    }

    &__active {
        color: $c-1;
    }

    &__icon, &__icon--close {
        display: none;
    }
}

 /* When the screen is small, hide links, Show  icon */
@media screen and (max-width: $mobilebreak) {
    // Show icon on mobile
    nav, .nav {
        a {
            display: none;
        }

        &__icon {
            display: flex;
        }
    }

    // Format menu
    .topnav {
        &--responsive {
            flex-direction: column;

            a {
                display: flex;
                justify-content: flex-end;
            }

            .nav__icon {
                display: none;

                &--close {
                    color: $c-accent2;
                }
            }
        }
    }
}
