nav, .nav {
    display: flex;
    margin-left: auto;

    a {
        text-decoration: none;
        color: $c-white;
        padding: 1rem 0;
        margin: auto 1rem;

        &:first-of-type {
            margin-left: auto;
        }

        &:hover {
            color: $c-secondary;
        }
    }

    &__active {
        color: $c-black;
    }

    &__icon, &__icon--close {
        display: none;
    }
}

 /* When the screen is small, hide links, Show  icon */
@media screen and (max-width: $mobilebreak) {
    // Show icon on mobile
    nav, .nav {
        a {
            display: none;
        }

        &__icon {
            display: flex;
        }
    }

    // Format menu
    .topnav {
        &--responsive {
            flex-direction: column;

            a {
                display: flex;
                justify-content: flex-end;
            }

            .nav__icon {
                display: none;

                &--close {
                    color: $c-secondary;
                }
            }
        }
    }
}

#nav__button {
    animation: typing 4s;
    white-space: nowrap;
    overflow: hidden;
    width: 1.3rem;
}

@keyframes typing {
    0% { width: 0; }
    30% {width: 4rem;}
    70% {width: 4rem;}
    100% {width: 1.3rem;}
}