.series {
    margin: 2rem 2rem 0 2rem;

    &__title {
        font-size: 2rem;
        font-family: $f-header;
        font-weight: 600;
        color: $c-black;

        @media screen and (min-width: $mobilebreak) {
            font-size: 3rem;
        }
    }

    &__desc {
        margin: 1rem 0;

        p {
            margin: 0;
        }
    }
}