.writing-list {
    @extend .series-list;

    &__item {
        display: flex;
        flex-direction: column;

        padding: 3rem 0;
        border-bottom: 3px solid $c-primary;

        @media screen and (min-width: $mobilebreak) {
            flex-direction: row;
        }
    }

    &__text {
        @extend .series-list__text;
        @media only screen and (min-width: $pagewidth) {
            margin: 0 0 auto 2rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-family: $f-header;
    }


    &__image {
        @extend .series-list__image;
        margin: 1rem 0;
        max-width: 100%;

        @media screen and (min-width: $mobilebreak) {
            margin: 0;
            object-position: top;
        }
    }

    &__rm {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0 1rem auto;
        color: $c-primary;
        font-size: 1.2rem;
        font-family: $f-accent;

        &:hover {
            color: $c-black;
        }
    }
}