html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.holdingpage {
    display: flex;
    height: 100vh;

    h1 {
        margin: auto;
    }
}