--- 
layout: default 
---

{% if page.type == "gallery" %}
    <div class="post">
        <img class="post__image post__mainimage" id="post__mainimage" src="{{ page.image }}" alt="{{ page.imagealt }}" />
        <div class="post__sidebar">
            {% if page.moreImages %}
                <div class="post__moreimages">
                    <img class="post__moreimages__item post__thumbnail" src="{{ page.image }}" alt="{{ page.title }}" />
                    {% for addedimage in page.moreImages%}
                        <img class="post__moreimages__item post__thumbnail" src="{{ addedimage }}" alt="An additional image of {{ page.title }}" />
                    {% endfor %}
                </div>
            {% endif %}


            
            <div class="post__text">
                <div class="post__title">
                    <h4>{{ page.title }}</h4>
                </div>
                <div class="post__desc">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="postwriting">
        <div class="postwriting__sidebar">
            <img class="postwriting__image post__mainimage" id="post__mainimage" src="{{ page.image }}" alt="{{ page.imagealt }}" />

            <div class="postwriting__moreimages">
                {% for addedimage in page.moreImages%}
                    <img class="postwriting__moreimages__item post__thumbnail" src="{{ addedimage }}" alt="An additional image of {{ page.title }}" />
                {% endfor %}
            </div>
        </div>
        
        <div class="postwriting__text">
            <div class="postwriting__title">
                {{ page.title }}
            </div>
            <div class="postwriting__desc">
                {{ content }}
            </div>
        </div>
    </div>
{% endif %}

