---
layout: default
---

<section class="writing-list">
    {% assign wrt = site.posts | where: 'type', 'writing' %}
    {% for post in wrt %}

    {% if post.link %}
        {% assign postlink = post.link%}
        {% assign postlink_text = "Open Link" %}
        {% assign linktype = "_blank" %}
    {% else %}
        {% assign postlink = post.url%}
        {% assign postlink_text = "Read More" %}
        {% assign linktype = "_self" %}
    {% endif %}

        <div class="writing-list__item {% if post.link %}linkdiv{% endif %}">

                <a href="{{ postlink }}" target="{{ linktype }}"></a>


            <img class="writing-list__image" src="{{ post.image }}" alt="{{ post.title | default: 'image representing a theme in this article' }}" />
            <div class="writing-list__text">
                <div class="writing-list__title">
                    {{post.title}}
                </div>
                <div class="writing-list__info">
                    {% if post.meta %}
                        <div class="writing-list__meta">
                            {{ post.meta }}
                        </div>
                    {% endif %}
                    <div class="writing-list__date">
                        {{ post.date | date: "%-d %B %Y" }}
                    </div>
                </div>
                <div class="writing-list__desc line-clamp">
                    {{ post.excerpt }}    
                </div>
                {% if post.link %}
                    <div class="writing-list__rm shrink-border">
                        {{ postlink_text }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endfor %}
</section>
